
# This is a basic workflow to help you get started with Actions
name: Deploy App on VM
env:
  RESOURCE_GROUP: 'aks-rg'
  CLUSTER_NAME: 'aks-cluster'
# Controls when the action will run. 
on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
  push:
    branches: 
      - main
    paths: 
      - 'sampleapp/**' 
permissions:
  id-token: write # This is required for requesting the JWT
  contents: read  # This is required for actions/checkout
  actions: read
# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build-and-deploy:
    runs-on: self-hosted
    steps:
    - name: Checkout source code 
      uses: actions/checkout@v3
    - name: Establish ssh tunnel
      shell: bash
      run: |
        echo "${{ secrets.SSH_PUBLIC_KEY }}" | tr -d '\r' > key.pem
        chmod 400 key.pem
        ssh -i key.pem -f -N -o "StrictHostKeyChecking=no" -L localhost:8080:10.0.0.5:80 azureuser@104.43.238.217

    # - name: run commmand on vm02
    #   shell: bash
    #   run: |
    #     ssh localhost 'hostname'
    #     ssh localhost 'uptime'
    #     ssh localhost 'curl localhost'

    - name: run commmand on vm02
      shell: bash
      run: |
        curl localhost:8080

    # - name: setup python
    #   uses: actions/setup-python@v4
    #   with:
    #     python-version: '3.10' # install the python version needed
    # - name: install python packages
    #   run: |
    #     python -m pip install --upgrade pip
    #     pip3 install msal
    # - name: install python packages
    #   run: |
    #     ssh localhost 'hostname'
    #     python3 -c "import sys; print(sys.version)" 
    # - name: Closed ssh tunnel
    #   shell: bash
    #   run: |
    #     sudo killall ssh
    #     rm -rf key.pem

    - name: Set up Oracle Instant Client
      uses: actions/setup-java@v2
      with:
        java-version: '11'
        
    - name: Set up SQL*Plus
      run: |
        sudo apt-get install -y libaio1
        wget https://download.oracle.com/otn_software/linux/instantclient/instantclient-basic-linux.x64-19.11.0.0.0dbru.zip
        unzip instantclient-basic-linux.x64-19.11.0.0.0dbru.zip
        export LD_LIBRARY_PATH=$(pwd)/instantclient_19_11
        echo 'export LD_LIBRARY_PATH=$(pwd)/instantclient_19_11' >> $HOME/.bashrc

    - name: Run SQL*Plus command
      run: |
        sqlplus